node_modules/
media/*.mp4
media/*.webm
# Builds & caches
dist/
build/
out/
coverage/
*.log
*.tmp
.vscode/
.idea/

# Dependencies
node_modules/
venv/
__pycache__/
*.py[cod]

# OS clutter
.DS_Store
Thumbs.db

# Generated webfonts
images/*.woff2
